exportPattern("^[[:alpha:]]+")
exportMethods(
    "cdbkData",
    "cdbkDf",
    "cdbkTech",
    "cdbkTxt",
    "prettyMatrix",
    "show",
    "cdbkFreq"
)
exportClasses(
    "cdbkData",
     "cdbkDf",
     "cdbkObject",
     "cdbkTech",
     "cdbkVar",
     "cdbkVector" ,
	"cdbkFreq"
)
