exportPattern("^[[:alpha:]]+")

exportMethods(
    "dfTech",
    "cdbkTxt",
    "prettyMatrix",
    "show",
    "varTech",
    "varFreq"
)

exportClasses(
     "cdbkDf",
     "cdbkObject",
     "cdbkVar",
     "cdbkVector" ,
     "dfTech",
     "varTech",
     "varFreq"
)
